html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

td {
    border: 3px solid #799c61;
    text-align: center;
    vertical-align: middle;
    font-size: min(6vw, 6vh);
    font-family: 'Courier New', monospace;
    color: rgb(215, 106, 106);
    word-break: break-word;
}

.cell1 {
    background-color: #b54253;
}

.cell2 {
    background-color: #a42489;
}

.cell3 {
    background-color: #303066;
}

.cell4 {
    background-color: #5c0a0a;
}

.cell5 {
    background-color: #d48989;
    
}